.root {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

.MainCover {
  background-color: #030610;
  margin-top: 102px;
  margin-bottom: 109px;
}

.MainCreatSell {
  margin-bottom: 160px;
}

.MainHot {
  margin-top: 126px;
  margin-bottom: 126px;
}
