@import "../../assets/css/variables.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsContainer {
  display: flex;
  gap: 26px;
  margin-top: $spacing-5;
}

.Title {
  font-size: 48px;
  color: #fff;
}
