:root {
  --primary: #01e687;
  --primary-dark: #00874f;

  --secondary-dark: #272d37;

  --success: #38c976;
  --info: #3eaeff;
  --warning: #ffa23a;
  --error: #fe5050;

  --gray: #fff6ed;
  --gray-900: #272d37;
  --gray-800: #36414c;
  --gray-700: #66737f;
  --gray-600: #8f9ca9;
  --gray-500: #adb9c7;
  --gray-400: #b8c1cc;
  --gray-300: #d5dde5;
  --gray-200: #e7ecf2;
  --gray-100: #eef2f6;

  --bs-link-hover-color: #00874f;
}
