@import "../../assets/css/variables.scss";

.root {
}

.Image {
  color: var(--secondary-dark);
}

.ImageContainer {
  background-color: var(--primary);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
