@import "../../assets/css/variables.scss";

.root {
}

.ParagraphSemibold {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #adb9c7;
  text-decoration-line: none;
}

.ParagraphSemibold:active {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid var(--primary);
}
