@import "../../assets/css/variables.scss";

.root {
  width: 384px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-900);
  border-radius: 16px;
  padding: $spacing-5 $spacing-4;
  border: 1px solid var(--secondary-dark);
}

.root:hover {
  border: 1px solid #fff;
  border-image-source: linear-gradient(
      136.6deg,
      #fff -14.02%,
      rgba(255, 255, 255, 0) 51.46%
    ),
    linear-gradient(317.85deg, #fff 0%, rgba(255, 255, 255, 0) 66.33%);
}

.title {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: $spacing-4;
  margin-right: 0px;
  margin-bottom: $spacing-3;
}

.paragraph {
  text-align: center;
  color: var(--gray-200);
}
